@import "tailwindcss";

.animate-card {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

.show-card {
  opacity: 1;
  transform: translateY(0);
}

/* Premium subtle glass + depth */
.card-pro {
  backdrop-filter: blur(6px);
  transition: all .3s ease;
}

.card-pro:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0px 10px 35px rgba(0,0,0,0.18);
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeInSlow {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fadeInSlow {
  animation: fadeInSlow 1.2s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-slideUp {
  animation: slideUp 0.9s ease-out forwards;
}
